
@model Club.Core.Model.CoachViewModel
<form action=@Url.Action("About") method="post">
    
    <input type="text" name="Email" id="Email"/>
    <input type="text" name="Code" id="Code"/>
    <input type="submit" form=""/>
</form>
